[submodule "SDLgit"]
	path = SDLgit
	url = https://github.com/libsdl-org/SDL.git

[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "SDLImageGit"]
	path = SDLImageGit
	url = https://github.com/libsdl-org/SDL_image.git
