[submodule "SDLgit"]
	path = SDLgit
	url = https://github.com/GazirovanayaVodaV2/SDL.git
	branch = Game2d

[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/GazirovanayaVodaV2/SDL_ttf.git
	branch = Game2d
[submodule "SDLImageGit"]
	path = SDLImageGit
	url = https://github.com/GazirovanayaVodaV2/SDL_image.git
	branch = Game2d
